---

title: Matthew Fowles

---


  <div class="cover-component--back js-back-cover">
    <div class="grid__item palm-one-whole  one-half bg--black"></div><!--
    --><div class="grid__item palm-one-whole one-half visuallyhidden--palm"></div>
  </div>

  <div class="cover-component--front js-front-cover">

     <div class="page-wrap grid">


      <section class="one-half grid__item palm-one-whole  text--white soft">

        <h1>Matthew Fowles</h1>
        <h3 class="subtitle">{{subtitle}}</h3>

        <p>{{site-description}}</p>

        

         <div class="contact-component text--center soft-half--top">
          <a href="{{github-url}}" class="push-half--sides">
            {{> github-contact}}
          </a>
          <a href="{{twitter-url}}" class="push-half--sides">
            {{> twitter-contact}}
          </a>
          <a href="{{linkedin-url}}" class="push-half--sides">
            {{> linkedin-contact}}
          </a>
        </div>

      </section><!--
      --><section class="one-half grid__item palm-one-whole soft">
        <h2>Articles</h2>

          <article>

            {{#each pages}}
              {{#data}}
                {{#is post true}}
                  <article>
                    <h3 class="flush"><a href="{{url}}">{{title}}</a></h3>
                    <p>{{description}}</p>
                  </article>
                {{/is}}
              {{/data}}
            {{/each}}

          </article>
        
      </section>


    </div>
  </div>
