<div onclick="scrollToY(0, 1000, 'easeOutSine')" data-0="opacity: 0; transform:rotate(0deg);" data-800="transform:rotate(180deg); opacity:1;" class="down-arrow share-icon push--left mobile-hide">
            {{> down-arrow}}
          </div>
          <div class="google-share share-icon push--left" onclick="googleShare()"  data-url="{{root}}{{url}}">
            {{> google-share}}
          </div>
          <div class="twitter-share share-icon push--left" onclick="twitterShare()"  data-url="{{root}}{{url}}" data-via="matthewfowles" data-text="{{title}}">
            {{> twitter-share}}
            </a>
          </div>
          <div class="facebook-share share-icon push--left" onclick="facebookShare()"  data-url="{{root}}{{url}}">
          <a>
            {{> facebook-share}}
            </a>
          </div>